name: App Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-dev'

env:
  PROPERTIES_PATH: "./android/key.properties"

jobs:
  build-android:
    name: Build android APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java SDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.10.0
        with:
          flutter-version: '3.10.5'
          channel: stable

      - name: Pub Get Packages
        run: flutter pub get

      - name: Build APPBUNDLE
        run: flutter build appbundle --release

      - name: Build FAT-APK
        run: |
          flutter build apk --release
          md5sum build/app/outputs/flutter-apk/app-release.apk

      - name: Build APK
        run: flutter build apk --split-per-abi
    
      - name: Release Body Content
        run: |
          md5sum build/app/outputs/flutter-apk/app-release.apk >> bodyContent.txt
        
      - name: Released
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: >
            build/app/outputs/bundle/release/app-release.aab,
            build/app/outputs/flutter-apk/app-release.apk,
            build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk,
            build/app/outputs/flutter-apk/app-arm64-v8a-release.apk,
            build/app/outputs/flutter-apk/app-x86_64-release.apk
          token: ${{ secrets.APP_RELEASE_TOKEN }}
          prerelease: true
          bodyFile:  ./bodyContent.txt